 "UTF-8";
* { margin: 0; padding: 0 }
/*body{font: 12px/1.5 'Microsoft Yahei', 'Simsun'; background:#fffbf0 url(../images/new_top.jpg)  50% -60px scroll no-repeat;color:#5d5d5d; background-position: 50% 0%;}*/
body{font: 12px/1.5 'Microsoft Yahei', 'Simsun'; background-color: #fffbf0; color:#5d5d5d;}
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; }
a:link, a:visited { text-decoration: none; color: #666 }
a:hover { text-decoration: none; }
.clear { clear: both; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
.l_box { width: 670px; }
.r_box { width: 300px; }
/* 头部信息 */
.topbg { background: #f3f3f3; height: 30px; line-height: 30px; width: 100%; }
.topbgline { height: 1px; width: 100%; margin-top: 1px; background: #E6E6E6 }
.topnav { width: 1000px; margin: auto; text-align: right; }
.topnav a { margin-left: 20px }
.topnav a:hover { color: #000 }
/*.logo { width: 1000px; height: 170px; margin: 30px auto; overflow: hidden; clear: both }*/
.logo { height: 300px; overflow: hidden; clear: both; background:#E8F0E8 url(images/log.png) scroll no-repeat; background-size: 100% 300px; -moz-background-size: cover;  -webkit-background-size: cover;}
.search {
    float:right;
    margin: 8px 20px 0 0;
    border: 1px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.search .text {
    width:50px;
    padding:2px 3px 1px 3px;
    float:left;
    font-size:14px;
    font-family:"t","microsoft yahei";
    height:28px;
    line-height:30px;
    text-indent:10px;
    border:0;
    border-radius:20px;
    outline:0;
    background:transparent;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    margin-bottom: 2px;
}
.search .btn {
    width:30px;
    height:30px;
    float:left;
    margin:0 8px 0 0;
    text-indent:-999px;
    border:0;
    cursor:pointer;
    background:url(/images/search.jpg) no-repeat 0 ;
    outline: 0;
}
.search:hover {border:1px solid #2F889A;background:#fff;}
.search:hover .text {width:80px;}
/*这行需要改进的*/
#topnav { width: 100%; background: #735dd8; height: 50px; line-height: 47px; /*margin-top: 140px;*/}
#topnav ul { width: 1000px; margin: auto }
#topnav a { display: inline-block; font-size: 18px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; padding: 0 20px; }
#topnav a:hover { background: #fffbf0; color: #000; border-top: 4px solid #f77825; }
#topnav a{ color:#FFF}
#topnav_current { background: #fffbf0; border-top: 4px solid #f77825; color: #000 }/* 高亮选中颜色 */
a#topnav_current { color:#000}
/*文章部分*/
article { width: 1000px; margin: 20px auto; }
.board_1 { height : 400px; width : 1000px; overflow : hidden; }
.board_2 { margin: 20px 0; }
.board_2 h2 { font-size: 16px; font-weight: bold; line-height: 36px; color: #333; border-bottom: #db6d4c 4px solid; }
.board_2 h2 span { float: right; font-size: 12px; font-weight: normal; }
.board_2 h2 span a { display: inline-block; padding: 0 5px; }
.board_2 h2 span a:hover { color: #000 }

.blogs { padding: 30px 0; position: relative; border-bottom: #BFAB86 1px solid;  overflow: hidden }
.blogs h3 { font-size: 16px; font-weight: bold; transition: all .5s; margin-bottom: 10px }
.blogs h3 a { color: #474645; }
.blogs h3 a:hover { color: #066; text-decoration: underline }
.blogs figure { float: left; width: 25%; overflow: hidden; cursor: pointer; }
.blogs figure img { width: 100%; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs ul { float: right; line-height: 22px; width:63%; color: #777; }
.blogs:hover{ background:#fff}

.detail { overflow: hidden; clear: both; margin: 10px 0; display: inline-block; color: #999; width: 100%;  }
.detail span { margin: 0 10px 0 0; padding-left: 20px }
.detail span a { color: #999; }
.detail span a:hover { text-decoration: underline }
.detail_1 { background: url(../images/mynewsbg.png) no-repeat center;background-position:0px 4px;}
.zan{ padding-left: 0;}
.zan .yz_zan{padding-left:20px;color:#999999;font-size:12px;background:url(../images/list_icon.png) no-repeat -47px -297px;}
.zan .yz_zan:hover{color:#406ca9;background-position:-47px -327px; text-decoration:none;}
.zan em{left:0;top:-15px;font-family:Arial, Helvetica, sans-serif;color:#ff9300;}
.f_l{float: left;}
.f_r{float: right;}